@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-heading: var(--font-sans);
    --font-sans: 'Geist Variable', sans-serif;
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-sm: calc(var(--radius) * 0.6);
    --radius-md: calc(var(--radius) * 0.8);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) * 1.4);
    --radius-2xl: calc(var(--radius) * 1.8);
    --radius-3xl: calc(var(--radius) * 2.2);
    --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
    --background: #FAF8F5;
    --foreground: #1B2632;
    --card: #FFFFFF;
    --card-foreground: #1B2632;
    --popover: #FFFFFF;
    --popover-foreground: #1B2632;
    --primary: #EA580C;
    --primary-foreground: #FFFFFF;
    --secondary: #ECE8DF;
    --secondary-foreground: #1B2632;
    --muted: #F5F2EC;
    --muted-foreground: #6B7280;
    --accent: #F97316;
    --accent-foreground: #FFFFFF;
    --destructive: #DC2626;
    --destructive-foreground: #FFFFFF;
    --border: #E5E1D8;
    --input: #E5E1D8;
    --ring: #EA580C;
    --radius: 1.25rem;
    --chart-1: #EA580C;
    --chart-2: #F97316;
    --chart-3: #DC2626;
    --chart-4: #ECE8DF;
    --chart-5: #1B2632;
    
    --sidebar: #ECE8DF;
    --sidebar-foreground: #1B2632;
    --sidebar-primary: #EA580C;
    --sidebar-primary-foreground: #FFFFFF;
    --sidebar-accent: #FAF8F5;
    --sidebar-accent-foreground: #1B2632;
    --sidebar-border: #DFD9CD;
    --sidebar-ring: #EA580C;
}

.dark {
    --background: #1B2632;
    --foreground: #EEE9DF;
    --card: #2C3B4D;
    --card-foreground: #EEE9DF;
    --popover: #1B2632;
    --popover-foreground: #EEE9DF;
    --primary: #FFB162;
    --primary-foreground: #1B2632;
    --secondary: #2C3B4D;
    --secondary-foreground: #EEE9DF;
    --muted: #2C3B4D;
    --muted-foreground: #C9C1B1;
    --accent: #A35139;
    --accent-foreground: #FFFFFF;
    --destructive: #A35139;
    --destructive-foreground: #FFFFFF;
    --border: #2C3B4D;
    --input: #2C3B4D;
    --ring: #FFB162;
    
    --sidebar: #1B2632;
    --sidebar-foreground: #EEE9DF;
    --sidebar-primary: #FFB162;
    --sidebar-primary-foreground: #1B2632;
    --sidebar-accent: #2C3B4D;
    --sidebar-accent-foreground: #EEE9DF;
    --sidebar-border: #2C3B4D;
    --sidebar-ring: #FFB162;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
  html {
    @apply font-sans;
    }
}